.favorites {
  margin-top: 24px;
  padding: 32px;
  box-sizing: border-box;
  width: 360px;
  height: 472px;
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.favorites__header {
  margin: 0 0 0 0;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #424242;
}

.favorites__button-container {
  margin: 33px 0 0 0;
  display: flex;
}

.favorites__button {
  display: flex;
  align-items: center;
  padding: 2px 8px 2px 8px;
  margin: 0 8px 0 0;
  box-sizing: border-box;
  font-family: Roboto, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.408px;
  color: #41522E;
  background-color: white;
  border: 1px solid #41522E;
  border-radius: 4px;
}

.favorites__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.favorites__hotels-container {
  margin: 20px 0 0 0;
  height: 300px;
  overflow-y: scroll;
}

.favorites__hotels-container::-webkit-scrollbar {
  width: 2px;
}

.favorites__hotels-container::-webkit-scrollbar-track {
  background: #E7E7E7;
  border-radius: 2px;
}

.favorites__hotels-container::-webkit-scrollbar-thumb {
  background: #41522E;
  border-radius: 2px;
}

.favorites__button_type_disabled {
  color: #99A0A3;
  border: 1px solid #99A0A3;
}

.favorites__select-on-top {
  margin: 0 0 0 2px;
}

.favorites__select-on-bottom {
  margin: 0 0 0 2px;
  transform: rotate(180deg);
}

@media screen and (max-width: 1080px) {
  .favorites {
    margin-top: 0px;
    width: 310px;
    height: 410px;
  }

  .favorites__hotels-container {
    margin: 20px 0 0 0;
    height: 245px;
    overflow-y: scroll;
  }
}